<p>
	<label for="settings_google_chat_url">WebHook URL</label>
	<input type="text" id="settings_google_chat_url" size=80 value="<%= settings['google_chat_url'] %>" name="settings[hangouts_chat_url]" />
</p>

<p>
	Generate a webhook URL for target the channel. This URL can be changed on a per-project basis by creating a <a href="/custom_fields/new?type=ProjectCustomField">project custom field</a> named "Hangouts Chat URL" (without quotes).
</p>
